.navbar {
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}

.navbar-brand {
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
  }

  .nav-item {
    margin-left: 10px;
  }
}

.navbar .nav-item:hover > .collapse {
  display: block;
}

#aboutCollapse {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}
