ul.flower {
  position: fixed;
  bottom: 100px;
  right: 50px;
}
ul.flower > li:nth-child(2) > div > ul {
  position: relative;
  background: red;
}
ul.flower > li:nth-child(2) > div > ul > li {
  position: absolute;
}
ul.flower > li:nth-child(2) > div > ul > li:nth-child(1) {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: green;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
ul.flower > li:nth-child(2) > div > ul > li:nth-child(2) {
  top: 50%;
  right: 0;
  transform: translateY(-100%);
  background: rgb(255, 232, 188);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
ul.flower > li:nth-child(2) > div > ul > li:nth-child(3) {
  top: 50%;
  right: 0;
  transform: translateX(170%);
  background: rgb(170, 168, 247);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
ul.flower > li:nth-child(2) > div > ul > li:nth-child(4) {
  bottom: 1px;
  right: 0;
  transform: translateX(260%);
  background: rgb(247, 138, 220);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
}

.nav-link {
  font-weight: 600;
  transition: color 0.2s ease-in-out;
}

ul {
  display: flex;
  list-style: none;
  margin: 20px;
  padding: 2;
}

li {
  margin-right: 20px;
  text-decoration: none;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 768px) {
  nav {
    display: block;
    position: fixed;
    top: 0;
    /* left: 0; */
    width: 100px;
    height: 100%;
    /* padding: 5px; */
    padding: 50px 10px 10px;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    min-width: 150px;
  }

  li {
    margin-right: 0;
    margin-bottom: 10px;
    text-decoration: none;
  }
  a {
    text-decoration: none;
  }
  .nav-item {
    position: relative;
  }
  .nav-item .nav-unfold {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .nav-item:hover .nav-unfold {
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
  }
}
.nav-unfold {
  display: none;
  position: absolute;
  z-index: 1;
}

.nav-item:hover .nav-unfold {
  display: block;
  transition: color 0.2s ease-in-out;
}

.nav-unfold ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-unfold li {
  margin: 0;
}

.nav-unfold a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.nav-unfold a:hover {
  background-color: #eee;
  transition: color 0.2s ease-in-out;
}
a:hover {
  background-color: #eee;
  transition: color 0.4s ease-in-out;
}
